<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--WCF services-->
	<system.serviceModel>
		<diagnostics wmiProviderEnabled="true">
			<messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
		</diagnostics>

		<!--Endpoint definitions-->
		<services>
			<!--IService1-->
			<service name="WCFServices.Impl.Service1"  behaviorConfiguration="DebugBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8083/WCFServices/IService1"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="WCFServices.Interfaces.IService1" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<!--IService2-->
			<service name="WCFServices.Impl.Service2"  behaviorConfiguration="DebugBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8083/WCFServices/IService2"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="WCFServices.Interfaces.IService2" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<!--IService1-->
			<service name="WCFServices.Impl.Service3"  behaviorConfiguration="DebugBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8083/WCFServices/IService3"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="WCFServices.Interfaces.IService3" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>			

		</services>

		<!--Debug behaviour-->
		<behaviors>
			<serviceBehaviors>
				<behavior name="DebugBehavior">
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>